.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 350px;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin-top: 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.card:last-of-type {
  margin-bottom: 65px;
}

.card__question {
  font-size: 1.25rem;
  text-align: center;
  padding: 30px 40px 10px 40px;
  font-style: italic;
}

.card__button {
  background-color: orange;
  height: 50px;
  width: 170px;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 1rem;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.card__button:hover {
  background-color: darkorange;
}

.card__answer {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-size: 1.3rem;
}

.card__tags {
  position: absolute;
  bottom: 10px;
  left: 6px;
}

.card__hashtag {
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  display: inline;
  background-color: lavender;
  padding: 3px;
  margin: 1px;
}

.card i {
  position: absolute;
  font-size: 3rem;
  top: -10px;
  right: -10px;
  color: lightgray;
}

.card i:hover {
  color: orange;
}
