.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  background-color: #473c8b;
  width: 100%;
}

.footer__navbar {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3px;
}

.footer__link {
  font-size: 45px;
  color: white;
  padding-left: auto;
  padding-right: auto;
  display: inline-block;
  flex: 1;
  text-align: center;
}

.footer__link:first-of-type {
  font-size: 50px;
}

.footer__link:hover {
  background-color: #2a254a;
}
