.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  background-color: #473c8b;
  width: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -3px 8px;
}

.footer__navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding-top: 3px; */
  height: 100%;
}

.footer__link {
  font-size: 45px;
  color: white;
  padding-left: auto;
  padding-right: auto;
  display: inline-block;
  flex: 1;
  text-align: center;
  height: 100%;
}

/* .footer__link:first-of-type {
  font-size: 50px;
  height: 100%;
} */

/* .footer__link:hover {
  background-color: #2a254a;
} */

.footer__link--active {
  font-size: 45px;
  color: white;
  padding-left: auto;
  padding-right: auto;
  display: inline-block;
  flex: 1;
  text-align: center;
  background-color: #2a254a;
  height: 100%;
}
