.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #473c8b;
  width: 100%;
  z-index: 1;
}

.header__title {
  text-align: center;
  color: white;
}
