@import "./header.css";
@import "./card.css";
@import "./profile.css";
@import "./switch.css";
@import "./footer.css";
@import "./form-new-cards.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
a,
label {
  font-family: Verdana, Helvetica;
}

.body {
  background: linear-gradient(135deg, white, lavender);
  background-attachment: fixed;
  width: 100%;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dark {
  background: black;
  color: white;
}

.hidden {
  display: flex;
}
