*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  background-color: #473c8b;
}

h1 {
  text-align: center;
  color: white;
  font-family: Verdana, Helvetica;
}
